body {
    background-color: #F6EEE3;
    color: #343235;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.hover-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8a/Phenakistoscope_3g07690u.jpg");
    transition: opacity .2s;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.hover-image:hover {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a2/Phenakistoscope_3g07690a.gif");
}