body {
    background-color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}